      body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h1 {
            margin-top: 20px;
        }

        label {
            margin-right: 10px;
        }

        #artwork-select {
            padding: 5px;
            font-size: 16px;
        }

        #artwork-details {
            text-align: center;
            margin-top: 20px;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: 0 auto;
        }